 
.container{
  background-color: white;
  width: 340px;
  height: 480px;
  border-radius: 10px;
  }

.info{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
}

.input-box{
  margin-top: 4%;
  padding: 15px 30px;
  border: 1px solid #ccc;
  font-size: 18px;
}